<div id="about-intro" class="one_third first">
    <h2>About page</h2>
    <!--<div class="panorama"><img class="imgholder" src="images/demo/290x170.gif" alt="Template Demo Image"></div>-->
    <p>"HIRE ABDULLAH"</p>
    <blockquote>
      <p><span>“</span> Let's say it another way. A URL is not a mark of quality. It's not proof of honesty or approval from the FDA. Sure, people say they know this already, that a lot of the internet isn't true and a lot of it isn't interesting, no matter how angst-ridden and attention-seeking its author. But still we praise the internet for everything, from mobilising global protests to creating the latest trends, while disappearing up its backside and discarding anything outside it as 'out of touch'.</p>
    </blockquote>
    <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna.</p>
  </div>