<div id="about-intro" class="one_third first">
    <h2>HomePage</h2>
    <div class="panorama"><img class="imgholder" src="https://pngarchive.com/public/uploads/preview/space-dog-png-10015762661352hgrddxkih.png" alt="Template Demo Image"></div>
    <p>The internet is not the sole basis upon which you can determine existence. It sounds simple but people are starting to forget. If it doesn't have a website, that doesn't make something low quality. If you can't Google your blind date, that doesn't make them a freak. If one website says something about anything, it's more than likely pure invention and shouldn't be taken seriously. Checking your sources does not mean finding another website that says the same. Fiction is self-perpetuating.</p>
    <blockquote>
      <p><span>“</span> In odio. Mauris feugiat. Nunc posuere, felis sit amet faucibus convallis, tortor enim viverra quam, hendrerit interdum dui quam ut lacus. Vivamus accumsan donec molestie pede vel urna curabitur eget sem ornare felis.</p>
    </blockquote>
    <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna.</p>
  </div>